extends layout

block content
  h1= title
  h2= subtitle
  if cryptos.length > 0
    ul
      each crypto in cryptos
        li #{crypto.name}: $#{crypto.current_price}
  else
    p No hay datos disponibles
